/* Navbar */
nav .navbar-brand{
    color: rgb(4 4 163) !important;
    font-size: xx-large;
    font-weight: 700;
    padding-left: 6rem;
}

nav .navbar-nav .nav-item{
    font-size: 1rem;
    padding: 0px 1rem;
}

nav .navbar-nav .nav-item a{
    color: rgb(4 4 116) !important;
    font-weight: 600;
}


nav .navbar-nav .nav-item button{
   padding: 10px 30px;
   background-color: #ff8100;
   color: white;
   font-weight: 700;
}


/* Home Section */
.Home-section{
    min-height: 50vh;
}

.Home-section .container-fluid{
   background-image: url('./assets/images/pattern-3.png');
}

.Home-section .left-part-div{
    padding-left: 14rem;
}

.Home-section .left-part h1{
    color: rgb(4 4 163) !important;
    font-weight: 700;
    font-size: 3.7rem;
}

.Home-section .left-part-div button{
    background-color: #ff8100;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
}

.Home-section .right-part .upperimg{
    border-radius: 10px;
    margin-left: 4rem; 
}

.Home-section .right-part .lowerimg{
    border-radius: 10px;
    margin-left: 2rem;
    position: absolute;
    z-index: 2;
    bottom: -60px;
    left: 0; 
}

.Home-section .right-part .shapeimg{
    position: absolute;
    z-index: -1;
    top: -10px;
    right: 64px;
}